<h3 class="steps__title">Kroki przypadku testowego:</h3>
<div class="step">
    <div class="{{b "step" "title"}}">
        <span class="step__arrow"></span>
        <span class="step__time">
            [{{time time.start}}]
        </span>
        Start. Uruchomienie
    </div>
</div>
{{> steps-list steps=steps baseUrl=baseUrl}}
<div class="step">
    <div class="{{b "step" "title"}}">
        <span class="step__arrow"></span>
        <span class="step__time">
            [{{time time.start}}]
        </span>
        Koniec. Status: <strong>{{status}}</strong>
    </div>
</div>
{{#each attachments}}
    {{> ../../blocks/attachment-row/attachment-row . baseUrl=../baseUrl}}
{{/each}}
