<h2 class="{{b 'widget' 'title'}}">{{t "TESTY"}}
    <span class="{{b 'widget' 'subtitle'}}"><br>uruchomiono {{currentDate}} o {{time time.start}}</span>
</h2>

<div class="{{b 'widget' 'flex-line'}}">
    <div class="{{b 'widget' 'column'}} splash">
        <div class="{{b 'splash' 'title'}}">{{ statistic.total }}</div>
        <div class="{{b 'splash' 'subtitle'}}">Wykonano w {{duration time.duration}}</div>
    </div>

    <div class="{{b 'widget' 'column'}} {{b 'graph-widget' 'chart'}}"></div>
</div>
